/* Move down content because we have a fixed navbar that is 50px tall */
/* #region INIT */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    height:100vh;
    width: 100vw;
    background-color: #eee;
    overflow-x: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
/* #endregion */

/* #region NAV*/

#tta-nav{
    padding: 14px 14px;
    border-bottom-color: #337ab7;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
#tta-nav .navbar-brand:hover {
    color: #337ab7;
}
#nav-logo {
    height: 60px;
    border: 0;
}
#nav-text {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

#tta-nav .nav-link {
    color: #337ab7;
    font-size: large;
    text-align: left;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

#tta-nav .nav-link:hover {
    border: 2px solid transparent;
    color: #0D47A1;
    border-bottom-color: #0D47A1;
}


.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-static-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        /*padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 0;
        margin-top: 0px;
    }

    .navbar-static-top .navbar-brand {
        padding: 0;
        margin-top: 0px;
    }
}

@media(max-width:768px) {
    .navbar-brand > img {
        width: 60px;
        height: 50px;
    }

    .navbar-fixed-top {
        background-color: white;
        border-bottom-color: transparent;
    }

    .navbar-static-top {
        background-color: white;
        border-bottom-color: transparent;
    }
}

.navbar-static-top {
    background-color: white;
}

.icon-bar {
    background-color: #337ab7 !important;
}

/*navbar drop down menu*/
.dropdown-menu > li > a > span, .dropdown-menu > li > a > b, .dropdown-menu > li > a {
    color: #337ab7;
    border: 1px solid transparent;
}


    .dropdown-menu > li > a > b:hover, .dropdown-menu > li > span:hover {
        color: red;
        border: 1px solid transparent;
        border-bottom-color: red;
    }

.navbar-inverse .navbar-toggle:not(:active), .navbar-inverse .navbar-toggle:not(:focus) {
    background-color: white;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #333;
}
/* #endregion */

/* #region HEADER */
#top {
    height: 100vh;
    /*background-image: url('../img/back1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}
/* #endregion */
#main-container {
    /*padding-top: 84px;*/
}

/* #region INDEX */
.btn-dark{
    transition: all 0.3s ease-in-out;
}
/* #endregion */

/* #region WIZARD*/
label{
    margin-left: 7px;
}
.list-group-item{
    border: none;
}
/* #endregion */


.btnSharp {
    border-radius: 0;
}

.bodyBackground {
    background-image: url('../img/back1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tableCell{
    max-width:140px;
    min-width:140px;
    border-color:#616161;
    font-size:15px;
}

.table{
    border-radius:8px !important;
    border-collapse: collapse ; 
    overflow: hidden !important;
}

.tableHeader{
    color:white;
    background-color:#212121;
}

.tableTimeHeader{
    width:30px;
    background-color:#BBDEFB;
    font-size:15px;
}

th {
    height:60px;
}

.whiteFont {
    color:white;
}

.img-profile {
    width:80px;
    height:80px;
    margin:20px 10px 10px 1px;
    margin-top:20px;
    border: 3px solid darkblue;
    float:left;
}

/* #region FOOTER */
    footer{
        padding-bottom: 21px;
    }

    .email-button {
        margin-top: 14px;
        margin-bottom: 14px;
    }

/* #endregion */